<div class="Welcome">
  <h1>Hello, Rails!</h1>
  <p>This is a blog App that a users can create, update and delete blogs.</p>
  <p>The link below leads to the list of blogs.</p>
  <%= link_to 'My Blogs', controller: 'articles' %>
<div>
